/* Changing the color of the navigation buttons */
.swiper-button-next,
.swiper-button-prev {
  color: #494949;
}

/* Changing the color of pagination bullets */
.swiper-pagination-bullet {
  background-color: #494949;
}

/* Changing the color of the active pagination bullet */
.swiper-pagination-bullet-active {
  background-color: #494949;
}
